.grid {
    display: grid;
    margin: 20px 0;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;

}

.item-container > span {
    display: flex;
    justify-items: flex-start;
    width: 90%;
    margin-bottom: 10px;
    height: 28px;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    font-weight: 300;

}

.column-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    align-items: center;
}

.draged {
    background: light-blue !important;
}

.item {
    width: 90%;
    background: white !important;
}

.invalid {
    background: rgb(200, 23, 14) !important;
}

.item:hover,
.active {
    background: #2383e247 !important;
}